<div class="modal fade in" id="menu_link">
  <div class="modal-dialog" style="z-index:10000">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h2 class="text-center">Редактирование ссылки в меню</h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>