<% content_for :meta do %>
  <title>Новости</title>
<% end %>
<div class="main">
  <!-- =actions -->
  <h1 class="text-center">Новости</h1>
  <section class="actions">
    <div id="news">
      <%= render 'news' %>
    </div>
    <% if @show_more %>
      <div class="text-center" id="show-more-news">
        <%= link_to 'Показать еще', news_index_path, remote: true, class: 'btn load-more-news', page: 2 %>
        <script>
          $('.load-more-news').click(function() {
            var page = parseInt($(this).attr('page'));
            $(this).attr('href', '/news?page=' + page);
            $(this).attr('page', page + 1);
          });
        </script>
      </div>
    <% end %>
  </section>
  <!-- =/actions -->
</div>