<div class="main">
			<div class="container">
				<div class="row">
					<main>
						<h1 class="justifycenter">Поступление новых коллекций</h1>
						<div class="col-md-3">
				 			<img src="tmp/action.jpg" alt="" class="img-responsive">
				 		</div>
						
						<div class="col-md-9">
				 			<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure officia fuga ad velit delectus esse magni nemo accusamus maxime eligendi fugit qui, expedita error suscipit quos dolor voluptatum aliquam magnam.</span>
				 			<span>Labore illo nisi voluptas sit. Nisi commodi delectus aliquid, quasi laudantium officia facilis distinctio ipsum quaerat ea quam deserunt saepe rerum tempora, consequuntur minima cumque libero! Expedita ab possimus voluptate.</span>
				 			<span>Libero illo facere porro laudantium ipsa modi voluptatem at commodi. Minima repellendus ex, dignissimos! Sapiente, porro excepturi, illo iusto deleniti omnis esse nisi perspiciatis ullam delectus, dicta, mollitia? Temporibus, quam!</span>
				 			<span>Sint commodi ratione voluptatibus enim tempora, at voluptas, aliquam beatae quia laborum doloremque obcaecati. Veniam aperiam officia necessitatibus voluptatibus nihil possimus dicta. Cumque veniam expedita iure tempore, nisi enim dolorum!</span>
				 			<span>Unde, labore perspiciatis quos expedita inventore aliquam similique cumque vitae quo nisi, magnam non praesentium at consequuntur quam placeat dolore consequatur cupiditate molestias sequi! Molestias molestiae fugit dolore quibusdam deserunt?</span>
				 			<span>Quae atque odio, aliquid pariatur ea ducimus officiis, ad illo, fugiat voluptates esse. Voluptates ratione, consectetur placeat quo quod laudantium nobis impedit quisquam tenetur velit? Debitis quae, iure fugiat tempore.</span>
				 			<span>A placeat quam labore quas nisi repudiandae rem dolorum necessitatibus voluptates. Quod adipisci nemo ad sed quibusdam voluptas quis minus error modi commodi! Nam odio, distinctio atque provident veritatis reprehenderit?</span>
				 			<span>Itaque eum velit facere qui error a, aliquam sint ea. Eius harum quae vel impedit iure minus magnam dolores, eum ratione, nesciunt. Explicabo nihil, ipsum eaque dignissimos dicta possimus earum!</span>
				 			<span>Est obcaecati, nisi minima. Earum, molestias hic facilis in quibusdam est. Inventore eligendi tempore molestias ducimus soluta. Culpa veniam nisi eos minus, nostrum molestiae repellendus quas sapiente voluptatem neque beatae!</span>
				 			<span>Eaque natus perferendis, ratione facere autem tenetur magnam! Aspernatur, impedit reprehenderit ipsa obcaecati tempore sit ab. Dolor vitae fuga deserunt, in dolorem ex ducimus soluta, quibusdam nostrum ratione commodi nobis!</span></p>
				 			<div class="row foto_new">
				 				<div class="col-md-4">
				 					<img src="<%= asset_path "new1.jpg" %>" alt="">
				 				</div>
				 				<div class="col-md-4">
				 					<img src="<%= asset_path "new1.jpg" %>" alt="">
				 				</div>
				 				<div class="col-md-4">
				 					<img src="<%= asset_path "new1.jpg" %>" alt="">
				 				</div>
				 			</div>
				 		</div>
					</main>
				</div>
			</div>
	</div>	