<div class="main">
  <div class="container">
    <main>
      <% if @page.name %>
        <h1 class="justifycenter"><%= @page.name %></h1>
      <% end %>
      <% if @page.image_file_name %>
        <%= image_tag 'action.jpg', class: 'justifyleft' %>
      <% end %>
      <% if @page.content %>
        <p><%= @page.content.split(/\r\n/).join('</p><br><p>').html_safe %></p>
      <% end %>
    </main>
  </div>
</div>