<div class="main">
		<div class="container">
			<!-- =contacts -->
			<section class="contacts">
				<header>
					<h1>Контакты</h1>
				</header>
				<div class="row">
					<div class="card text-center col-md-4 col-xs-12">
						<div class="inner">
							<div class="cell address">
								<img src="images/label.png" alt="" />
								<p>г. Минск</p>
								<p>пр. Дзержинского, д.11,</p>
								<p>пом. 738</p>
							</div>

							<div class="cell phones">
								<img src="images/smartphone.png" alt="" />
								<p><span>+375 (17)</span> 278 88 66</p>
								<p><span>+375 (29)</span> 678 88 66</p>
							</div>

							<div class="cell time">
								<img src="images/clock.png" alt="" />
								<p>09:00 -21:00 </p>
								<p>ПН. - ВС	</p>
							</div>
						</div>
					</div>
					<div class="map col-md-8 col-xs-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.4570715993545!2d27.518517815962728!3d53.88807954169559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd003265222cb%3A0xa9bbea261dcda812!2z0L_RgNC-0YHQvy4g0JTQt9C10YDQttC40L3RgdC60L7Qs9C-IDExLCDQnNC40L3RgdC6IDIyMDA4OSwg0JHQtdC70LDRgNGD0YHRjA!5e0!3m2!1sru!2sua!4v1452853696340" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</section>
			<!-- =/contacts -->
			<div class="line"></div>

			<!-- =feedback -->
			<div class="feedback center-block text-center">
				<p class="title">Напишите нам</p>
				<form action="#" method="post" class="form">
					<fieldset>
						<input type="text" name="name" value="" placeholder="Ваше имя" />
						<input type="tel" name="tel" value="" placeholder="Контактный телефон" />
						<textarea name="msg" placeholder="Сообщение ..."></textarea>
						<input type="button" class="submit" value="Отправить" />
					</fieldset>
				</form>
			</div>
			<!-- =/feedback -->
		</div>
	</div>