/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require styles
 */
@import "bootstrap";
@import 'bootstrap.min';
@import "home";
@import 'jquery.fancybox';
@import 'jquery.formstyler';
@import 'owl.carousel';
@import 'owl.transitions';
@import 'styles';

#meta-form {
	margin-top: -25px;
	z-index: 100;
	& input, textarea {
		color: #000;
		width: 250px;
		margin: 2px;
	}
	label {
		width: 75px;		
	}
}

#show-meta-form {	
	margin-left: 20px;
	position:absolute;
	display:block;
}

.edit-sym {
	font-size: 30px;
	cursor: pointer;
}

.page-data {
	padding: 10px;
	& .btn {
		margin-top: 5px;
	}
}



