<!-- =footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="menu-1 col-md-3 col-sm-4 col-xs-12">
				<ul>
					<li><a href="#" title="">О компании</a></li>
					<li><a href="#" title="">Доставка и оплата</a></li>
					<li><a href="#" title="">Акции</a></li>
					<li><a href="#" title="">Дилерам</a></li>
					<li><a href="#" title="">Контакты</a></li>
				</ul>
			</div>
			<div class="menu-2 col-md-3 col-sm-4 col-xs-12">
			  <ul>
					<li class="title"><a href="#" title="#">Каталог</a></li>
					<li><a href="#" title="#">Кухни</a></li>
					<li><a href="#" title="#">Ванные комнаты</a></li>
					<li><a href="#" title="#">Гостинные</a></li>
					<li><a href="#" title="#">Коридор</a></li>
					<li><a href="#" title="#">Улица</a></li>
				</ul>
			</div>
			<div class="contacts col-md-3 col-sm-4 col-xs-12 pull-right">
		    	<p><a href="tel:+375172788866" title="">+375 (17) 278 88 66</a></p>
				<p><img src="images/viber.png" alt="" width="13" height="13" class="viber" /><a href="tel:+375296788866" title="">+375 (29) 678 88 66</a></p>
				<p>станция метро «Грушевка»</p>
				<p>пр. Дзержинского, д.11, пом. 738</p>
				<p>09 : 00 - 21 : 00 ПН. - ВС</p>
				<p>
					<a href="mailto:info@delizia.by" title="">info@delizia.by</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<!-- =/footer -->